Repository flecoqui/av-services: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml, pipelines/azure-dev-ops/azure-pipelines.tests-azure-vm.yml, pipelines/azure-dev-ops/azure-pipelines.tests-docker.yml

pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml:

trigger:
  branches:
    include:
    - "main"
  paths:
    include:
    - envs/container/azure-iot-edge/*

variables:
  - name: configurationFile
    value:  'avtool.azure-iot-edge.env'

pool:
  vmImage: 'ubuntu-20.04'

stages:
- stage: TestAzureIotEdgeServices
  displayName: Test Azure Iot Edge Services Stage
  jobs:
  - job: TestAzureIotEdgeServicesJob
    displayName: Test Azure Iot Edge Services Job
    steps:     
    - task: Bash@3
      displayName: 'Install Pre-requisites'
      inputs:
        targetType: 'inline'
        script: |
          pipelines/utils/avtool.sh -a install -c $(configurationFile) -e true 

    - task: Bash@3
      displayName: 'Deploy Services'
      inputs:
        targetType: 'inline'
        script: |
          pipelines/utils/avtool.sh -a deploy -c $(configurationFile) -e true 

    - task: Bash@3
      displayName: 'Test Services'
      inputs:
        targetType: 'inline'
        script: |
          pipelines/utils/avtool.sh -a test -c $(configurationFile) -e true

pipelines/azure-dev-ops/azure-pipelines.tests-azure-vm.yml:

trigger:
  branches:
    include:
    - "main"
  paths:
    include:
    - envs/vm/azure-vm/*

variables:
  - name: configurationFile
    value:  'avtool.azure-vm.env'

pool:
  vmImage: 'ubuntu-20.04'

stages:
- stage: TestAzureVirtualMachineServices
  displayName: Test Azure Virtual Machine Services Stage
  jobs:
  - job: TestAzureVirtualMachineServicesJob
    displayName: Test Azure Virtual Machine Services Job
    steps:     
    - task: Bash@3
      displayName: 'Install Pre-requisites'
      inputs:
        targetType: 'inline'
        script: |
          pipelines/utils/avtool.sh -a install -c $(configurationFile) -e true 

    - task: Bash@3
      displayName: 'Deploy Services'
      inputs:
        targetType: 'inline'
        script: |
          pipelines/utils/avtool.sh -a deploy -c $(configurationFile) -e true 

    - task: Bash@3
      displayName: 'Test Services'
      inputs:
        targetType: 'inline'
        script: |
          pipelines/utils/avtool.sh -a test -c $(configurationFile) -e true

pipelines/azure-dev-ops/azure-pipelines.tests-docker.yml:

trigger:
  branches:
    include:
    - "main"
  paths:
    include:
    - envs/container/docker/*

variables:
  - name: configurationFile
    value:  'avtool.docker.env'

pool:
  vmImage: 'ubuntu-20.04'

stages:
- stage: TestDockerServices
  displayName: Test Docker Services Stage
  jobs:
  - job: TestDockerServicesJob
    displayName: Test Docker Services Job
    steps:     
    - task: Bash@3
      displayName: 'Install Pre-requisites'
      inputs:
        targetType: 'inline'
        script: |
          pipelines/utils/avtool.sh -a install -c $(configurationFile) -e true 

    - task: Bash@3
      displayName: 'Deploy Services'
      inputs:
        targetType: 'inline'
        script: |
          pipelines/utils/avtool.sh -a deploy -c $(configurationFile) -e true 

    - task: Bash@3
      displayName: 'Test Services'
      inputs:
        targetType: 'inline'
        script: |
          pipelines/utils/avtool.sh -a test -c $(configurationFile) -e true

Add pipelines
  README.md
Due: none

Add pipelines
  .github/workflows/github-action.tests-docker.yml
Due: none

Add pipelines
  .github/workflows/github-action.tests-docker.yml
  pipelines/utils/avtool.sh
Due: none

Add pipelines
  .github/workflows/github-action.tests-azure-iot-edge.yml
  .github/workflows/github-action.tests-azure-vm.yml
  .github/workflows/github-action.tests-docker.yml
Due: none

Add pipelines
  .github/workflows/github-action.tests-azure-iot-edge.yml
  .github/workflows/github-action.tests-azure-vm.yml
  pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml
  pipelines/azure-dev-ops/azure-pipelines.tests-azure-vm.yml
  pipelines/azure-dev-ops/azure-pipelines.tests-docker.yml
  pipelines/github-action/github-action.tests-azure-iot-edge.yml
  pipelines/github-action/github-action.tests-azure-vm.yml
  pipelines/github-action/github-action.tests-docker.yml
Due: none

update pipelines
  .github/workflows/github-action.tests-azure-iot-edge.yml
  .github/workflows/github-action.tests-azure-vm.yml
  pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml
  pipelines/github-action/github-action.tests-azure-iot-edge.yml
  pipelines/github-action/github-action.tests-azure-vm.yml
Due: none

update pipelines
  .github/workflows/github-action.tests-azure-iot-edge.yml
  .github/workflows/github-action.tests-azure-vm.yml
  envs/container/azure-iot-edge/av-rtmp-rtsp-sink/alpine/avtool.sh
  envs/container/azure-iot-edge/av-rtmp-rtsp-sink/ubuntu/avtool.sh
  envs/container/docker/av-ffmpeg/alpine/avtool.sh
  envs/container/docker/av-ffmpeg/ubuntu/avtool.sh
  envs/container/docker/av-rtmp-rtsp-sink/alpine/avtool.sh
  envs/container/docker/av-rtmp-rtsp-sink/ubuntu/avtool.sh
  envs/container/docker/av-rtmp-sink/alpine/avtool.sh
  envs/container/docker/av-rtmp-sink/ubuntu/avtool.sh
  envs/container/docker/av-rtmp-source/alpine/avtool.sh
  envs/container/docker/av-rtmp-source/ubuntu/avtool.sh
  envs/vm/azure-vm/av-rtmp-hls-rtsp-sink/avtool.sh
  pipelines/github-action/github-action.tests-azure-iot-edge.yml
  pipelines/github-action/github-action.tests-azure-vm.yml
  pipelines/utils/avtool.sh
  src/lvatool/Program.cs
Due: pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml, pipelines/azure-dev-ops/azure-pipelines.tests-azure-vm.yml, pipelines/azure-dev-ops/azure-pipelines.tests-docker.yml

update pipelines
  envs/container/azure-iot-edge/av-rtmp-rtsp-sink/alpine/avtool.sh
  envs/container/azure-iot-edge/av-rtmp-rtsp-sink/ubuntu/avtool.sh
  envs/vm/azure-vm/av-rtmp-hls-rtsp-sink/avtool.sh
Due: pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml, pipelines/azure-dev-ops/azure-pipelines.tests-azure-vm.yml

update pipeline
  .github/workflows/github-action.tests-azure-iot-edge.yml
  .github/workflows/github-action.tests-azure-vm.yml
  envs/container/azure-iot-edge/av-rtmp-rtsp-sink/alpine/avtool.sh
  envs/container/azure-iot-edge/av-rtmp-rtsp-sink/ubuntu/avtool.sh
  envs/container/docker/av-ffmpeg/alpine/avtool.sh
  envs/container/docker/av-ffmpeg/ubuntu/avtool.sh
  envs/container/docker/av-rtmp-rtsp-sink/alpine/avtool.sh
  envs/container/docker/av-rtmp-rtsp-sink/ubuntu/avtool.sh
  envs/container/docker/av-rtmp-sink/alpine/avtool.sh
  envs/container/docker/av-rtmp-sink/ubuntu/avtool.sh
  envs/container/docker/av-rtmp-source/alpine/avtool.sh
  envs/container/docker/av-rtmp-source/ubuntu/avtool.sh
  envs/vm/azure-vm/av-rtmp-hls-rtsp-sink/avtool.sh
  pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml
  pipelines/azure-dev-ops/azure-pipelines.tests-azure-vm.yml
  pipelines/github-action/github-action.tests-azure-iot-edge.yml
  pipelines/github-action/github-action.tests-azure-vm.yml
  pipelines/utils/avtool.sh
Due: pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml, pipelines/azure-dev-ops/azure-pipelines.tests-azure-vm.yml, pipelines/azure-dev-ops/azure-pipelines.tests-docker.yml

update pipeline
  .github/workflows/github-action.tests-azure-vm.yml
  .github/workflows/github-action.tests-docker.yml
  envs/container/azure-iot-edge/av-rtmp-rtsp-sink/alpine/avtool.sh
Due: pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml

update pipeline
  .github/workflows/github-action.tests-azure-vm.yml
  envs/container/azure-iot-edge/av-rtmp-rtsp-sink/alpine/avtool.sh
  envs/container/azure-iot-edge/av-rtmp-rtsp-sink/alpine/azuredeploy.vm.json
  envs/vm/azure-vm/av-rtmp-hls-rtsp-sink/avtool.sh
  envs/vm/azure-vm/av-rtmp-hls-rtsp-sink/azuredeploy.json
Due: pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml, pipelines/azure-dev-ops/azure-pipelines.tests-azure-vm.yml

update pipeline
  .github/workflows/github-action.tests-azure-iot-edge.yml
  .github/workflows/github-action.tests-azure-vm.yml
  envs/container/azure-iot-edge/av-rtmp-rtsp-sink/alpine/avtool.sh
  pipelines/github-action/github-action.tests-azure-iot-edge.yml
  pipelines/github-action/github-action.tests-azure-vm.yml
  pipelines/github-action/github-action.tests-docker.yml
Due: pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml

update pipeline
  envs/container/azure-iot-edge/av-rtmp-rtsp-sink/alpine/avtool.sh
  envs/container/azure-iot-edge/av-rtmp-rtsp-sink/ubuntu/avtool.sh
Due: pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml

update pipeline
  .github/workflows/github-action.tests-azure-iot-edge.yml
  .github/workflows/github-action.tests-azure-vm.yml
  .github/workflows/github-action.tests-docker.yml
  pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml
  pipelines/azure-dev-ops/azure-pipelines.tests-azure-vm.yml
  pipelines/azure-dev-ops/azure-pipelines.tests-docker.yml
  pipelines/github-action/github-action.tests-azure-vm.yml
  pipelines/github-action/github-action.tests-docker.yml
Due: none

update pipeline
  envs/container/azure-iot-edge/av-rtmp-rtsp-sink/alpine/avtool.sh
  envs/container/azure-iot-edge/av-rtmp-rtsp-sink/ubuntu/avtool.sh
  envs/container/docker/av-ffmpeg/alpine/avtool.sh
  envs/container/docker/av-ffmpeg/ubuntu/avtool.sh
  envs/container/docker/av-rtmp-rtsp-sink/alpine/avtool.sh
  envs/container/docker/av-rtmp-rtsp-sink/ubuntu/avtool.sh
  envs/container/docker/av-rtmp-sink/alpine/avtool.sh
  envs/container/docker/av-rtmp-sink/ubuntu/avtool.sh
  envs/container/docker/av-rtmp-source/alpine/avtool.sh
  envs/container/docker/av-rtmp-source/ubuntu/avtool.sh
  envs/vm/azure-vm/av-rtmp-hls-rtsp-sink/avtool.sh
  pipelines/utils/avtool.sh
Due: pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml, pipelines/azure-dev-ops/azure-pipelines.tests-azure-vm.yml, pipelines/azure-dev-ops/azure-pipelines.tests-docker.yml

update pipeline
  .github/workflows/github-action.tests-azure-iot-edge.yml
  .github/workflows/github-action.tests-azure-vm.yml
  .github/workflows/github-action.tests-docker.yml
  pipelines/github-action/github-action.tests-azure-iot-edge.yml
  pipelines/github-action/github-action.tests-azure-vm.yml
  pipelines/github-action/github-action.tests-docker.yml
Due: none

update pipeline
  pipelines/azure-dev-ops/azure-pipelines.tests-azure-iot-edge.yml
  pipelines/azure-dev-ops/azure-pipelines.tests-azure-vm.yml
Due: none

add bash file to create service principal for pipeline
  pipelines/utils/createrbacsp.sh
Due: none

add bash file to create service principal for pipeline
  README.md
  pipelines/utils/createrbacsp.sh
Due: none
